@page "/courses"
@inject ICourseService service
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Courses</PageTitle>


<p>
    <a href="courses/create">Create New</a>
</p>
<ErrorAlert ServerError="@ServerError" />

<MudDataGrid T="CourseViewModel" MultiSelection="true" Items="@Elements" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter"
             Hideable="true" RowClick="@RowClicked" RowContextMenuClick="RowRightClicked" SelectedItemsChanged="@SelectedItemsChanged">
    <ToolBarContent>
        <MudText Typo="Typo.h6">
            Courses<br>
            @if (selectedItens.Any())
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error"
                           ButtonType="ButtonType.Submit" Class="ml-auto" OnClick="DeteleMultiple">Delete</MudButton>
            }
        </MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>

    <Columns>
        <SelectColumn T="CourseViewModel" />
        <MudBlazor.PropertyColumn Property="x => x.Id" Title="Id" Sortable="true" />
        <MudBlazor.PropertyColumn Property="x => x.Name" Title="Name" Sortable="true" />
        <MudBlazor.PropertyColumn Property="x => x.Description" Title="Description" Sortable="true" />
        <MudBlazor.PropertyColumn Property="x => x.Workload" Title="Workload" Sortable="true" />
        <MudBlazor.PropertyColumn Property="x => x.TotalValue" Title="Total Value" Sortable="true" />
        <MudBlazor.PropertyColumn Property="x => x.CourseCategory.Name" Title="Course Category" Sortable="true" />

        <MudBlazor.TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Href="@($"courses/edit/{context.Item.Id}")" />
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Href="@($"courses/delete?id={context.Item.Id}")" />
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Info" Href="@($"courses/details?id={context.Item.Id}")" />
            </CellTemplate>
        </MudBlazor.TemplateColumn>

    </Columns>
    <PagerContent>
        <MudDataGridPager T="CourseViewModel" />
    </PagerContent>

</MudDataGrid>
<MudBlazor.MudButton Href="courses/create"
                     Variant="Variant.Filled"
                     EndIcon="@Icons.Material.Outlined.Create"
                     Color="Color.Primary">
                Create
</MudBlazor.MudButton>

@code {

    private IEnumerable<CourseViewModel> Elements = new List<CourseViewModel>();
    private string _searchString;
    private List<string> _events = new();

    private Func<CourseViewModel, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.Description.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.CourseCategory.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    };


    protected override async Task OnInitializedAsync()
    {
        var token = await TokenService.GetTokenAsync();

        Elements = await service.FindAll(token);
    }

    private string ServerError { get; set; }
    public HashSet<CourseViewModel> selectedItens = new HashSet<CourseViewModel>();

    async Task DeteleMultiple()
    {
        var token = await TokenService.GetTokenAsync();

        var deleteStudents = selectedItens.Select(x => x.Id).ToList();
        var deletMulti = await service.DeletMultiple(deleteStudents, token);
        if (deletMulti != null)
        {
            ServerError = $"Erro al tentar deletar vários registros: {deletMulti.ErrorMessage}";
        }
        else
        {
            Elements = Elements.Where(x => !deleteStudents.Any(y => y == x.Id)).ToList();
        }
    }
    
    void RowClicked(DataGridRowClickEventArgs<CourseViewModel> args)
    {
        _events.Insert(0, $"Event = RowClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
    }

    void RowRightClicked(DataGridRowClickEventArgs<CourseViewModel> args)
    {
        _events.Insert(0, $"Event = RowRightClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
    }

    void SelectedItemsChanged(HashSet<CourseViewModel> items)
    {
        selectedItens = new HashSet<CourseViewModel>();

        foreach (var item in items)
        {
            selectedItens.Add(item);
        }
        _events.Insert(0, $"Event = SelectedItemsChanged, Data = {System.Text.Json.JsonSerializer.Serialize(items)}");
    }
}