@model University.Manager.Project.Web.MVC.Models.CourseInstallmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course Installment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
           Student
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
           Installment Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstallmentPrice)
        </dd>
        <dt class="col-sm-2">
           Payment Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class="col-sm-2">
           Due Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
           Installment Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstallmentStatus)
        </dd>
        <dt class="col-sm-2">
           Payment Method
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
