@page "/students/create"
@page "/students/edit/{Id:int}"
@inject NavigationManager NavigationManager
@inject IStudentService service
@inject ICourseService courseService
@inject ErrorService ErrorService
@attribute [Authorize]

<PageTitle>Students</PageTitle>
<ErrorAlert ServerError="@ServerError" />

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">

            <MudForm @ref="form">
                <MudTextField T="long" @bind-Value="student.Id" hidden />
                <MudTextField T="string" @bind-Value="student.Name" Label="Name" Required="true" Error="@(errorViewModels.Any(e => e.PropertyName == "Name"))" ErrorText="@(ErrorService.GetFieldErrors("Name",errorViewModels))" />
                <MudTextField T="string" @bind-Value="student.Email" Label="Email" Required="true" Error="@(errorViewModels.Any(e => e.PropertyName == "Email"))" ErrorText="@(ErrorService.GetFieldErrors("Email",errorViewModels))" />
                <MudTextField T="string" @bind-Value="student.RegisterCode" Label="Register code" Required="true" Error="@(errorViewModels.Any(e => e.PropertyName == "RegisterCode"))" ErrorText="@(ErrorService.GetFieldErrors("RegisterCode",errorViewModels))" />
                <div class="mud-input-control mud-input-required mud-input-input-control">
                    <div class="mud-input-control-input-container">
                        <div class="mud-input mud-input-text mud-input-text-with-label mud-input-underline mud-shrink mud-typography-input">

                            <InputSelect class="mud-input-slot mud-input-root mud-input-root-text" style="width:100%;height:2em !important" @bind-Value="student.CourseId">
                                @if (coursesList is not null)
                                {
                                    <option value="0" selected>Select</option>

                                    foreach (var item in coursesList)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Loading...</option>
                                }
                            </InputSelect>
                        </div>
                        <label class="mud-input-label mud-input-label-animated mud-input-label-text mud-input-label-inputcontrol">Categories</label>
                    </div>
                    <div class="mud-input-control-helper-container">
                        <span class="mud-input-helper-text mud-input-error">
                            <div class="d-flex">
                                <div class="me-auto">
                                    @ErrorService.GetFieldErrors("CourseId", errorViewModels)
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
                    
                <div class="d-flex align-center justify-space-between mt-3">
                    <div class="ms-auto">
                        <MudButton Variant="Variant.Filled" Color="Color.Transparent"
                                   ButtonType="ButtonType.Button" Href="/students" Class="ml-auto">Back to List</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                   ButtonType="ButtonType.Button" OnClick="UpdateOrCreateStudent" Class="ml-auto">@(Id > 0 ? "Update" : "Create")</MudButton>
                    </div>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    [Parameter]
    public int Id { get; set; }
    private string ServerError { get; set; }
    private MudForm form;
    private bool formIsValid;
    public StudentViewModel student { get; set; } = new();
    public string token;

    private IEnumerable<ApiErrorViewModel> errorViewModels = new List<ApiErrorViewModel>();
    private IEnumerable<CourseViewModel>? coursesList;

    protected async override Task OnInitializedAsync()
    {
        ServerError = null;
        token = await TokenService.GetTokenAsync();
        coursesList = await courseService.FindAll(token);

    }

    private async Task UpdateOrCreateStudent()
    {

        ServerError = null;

        IEnumerable<ApiErrorViewModel> response;
        if (student.Id == 0)
            response = await service.Create(student, token);
        else
            response = await service.Update(student, token);

        if (response == null)
        {
            ServerError = "Erro interno no servidor";
        }
        else if (!response.Any())
        {
            ErrorService.ClearErrors();
            NavigationManager.NavigateTo("/students");
        }
        else
        {
            errorViewModels = response;
        }

    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0)
        {
            student = await service.FindById(Id, token);
            if (string.IsNullOrWhiteSpace(student.Name))
                NavigationManager.NavigateTo("notfound");
        }
    }
}
